.pay
  .pay-upper 支払い方法
  .pay-down
    .pay-down-box
      .pay-down-box-title クレジットカード一覧
      .pay-down-box-btn
        .pay-down-box-btn-icon
          =icon('far', 'credit-card')
        .pay-down-box-btn-text クレジットカードを追加する
    .pay-down-link 
      支払い方法について
      = icon('fas', 'chevron-right')