.logout {
  box-sizing: border-box;
  height: 12%;
  width: 48vw;
  max-width: 670px;
  padding: 50px;
  background-color: white;
  &__btn {
    max-width: 300px;
    margin: 0 auto;
  }
  &__btn a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    height: 50px;
    font-size: 14px;
    background-color: red;
    color: white;
    line-height: 50px;
  }
}