@mixin tab2(){
  .tab2{
    color:                black;
    cursor:               pointer;
    text-decoration:      none;
    display:              block;
    font-size:            14px;
    line-height:          14px;
    text-overflow:        ellipsis;
    white-space:          nowrap;
    overflow:             hidden;
    display: block;
    padding: 8px 16px;
  }
  .tab2:hover{
    background-color:     #EEEEEE;
  }
}

@mixin tab(){
  .tab{
    color:                black;
    cursor:               pointer;
    text-decoration:      none;
    display:              block;
    font-size:            14px;
    line-height:          44px;
    text-overflow:        ellipsis;
    white-space:          nowrap;
    overflow:             hidden;
    padding:              0px 16px;
  }
  .tab:hover{
    color:                white;
    background-color:     red;
  }  
}