// ただの10個表示のcss(ビューのプルリク用）

* {
  margin: 0px;
  padding: 0px;
}

@mixin top_category-bland() {
  font-size: xx-large;
  font-family: 'arial narrow';
  text-align:center;
  line-height: 100px;
  background-color: rgb(255, 253, 253);
}

@mixin category-bland_items_frame() {
  display: flex;
  justify-content: center;
  font-family: 'arial narrow';
  background-color: rgb(255, 253, 253);
  padding-bottom: 50px;
}

@mixin category-bland_items() {
  height: 30px;
  width: 200px;
  border: solid 3px rgb(238, 231, 231);
  background-color: rgb(238, 231, 231);
  border-radius: 30px;
  text-align:center;
  line-height: 30px;
  margin-left: 10px;
  a {
    color: black;
    text-decoration: none;
  }
}

@mixin link_new_arrival_right-left() {
  display: flex;
  justify-content: space-between;
}

@mixin link_new_arrival_right() {
  margin-right: 260px;
  font-size: normal;
  a {color: rgb(0, 154, 214);}
  font-weight: 600;
}

@mixin link_new_arrival_left() {
  margin-left: 260px;
  font-size: x-large;
}



@mixin photos() {
  height: 600px;
  width: 1100px;
  margin: 0 auto;
}

@mixin ul() {
  height: 600px;
  width: 1100px;
  list-style: none;
  display:flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

@mixin li_top() {
  height: 300px;
  width: 220px;
}

@mixin li_body() {
height: 280px;
width: 200px;
margin-left: 10px;
margin-top: 10px;
margin-right: 10px;
}

@mixin li_image() {
  height: 200px;
  width: 200px;
  background-color: wheat;
  position: relative;
  }

@mixin li_price() {
  height: 35px;
  width: 100px;
  background-color: black;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  position: absolute;
  top: 150px;
  background: rgba(17, 16, 16, 0.3);
  font-size: x-large;
  text-align: center;
  line-height: 35px;
  color: white;
}

@mixin li_title() {
  height: 80px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
}

@mixin li_title_a() {
  height: 50px;
  width: 180px;
  word-break: break-word;
  overflow: hidden;
  color: black;
}

@mixin transparent() {
  height: 25px;
  width: 120px;
  background: linear-gradient(to left, white 20%, transparent);
  position: absolute;
  top: 40px;
  left: 80px;
}

.main {
  overflow: scroll;
  background-color: rgb(238, 231, 231);

  .img-header {
    height: 400px;
    width: 100vw;
    background-size: cover;
  }

  &-firest {
    background-color: rgb(238, 231, 231);
    margin-bottom: 100px;

    &-top {
      height: 250px;

      .main-firest-top-category {
        @include top_category-bland();
      }
      .main-firest-top-items {
        @include category-bland_items_frame();

        .main-firest-top-ladys {
          @include category-bland_items();
        }
        .main-firest-top-mens {
          @include category-bland_items();
        }
        .main-firest-top-home_appliances {
          @include category-bland_items();
        }
        .main-firest-top-hobby {
          @include category-bland_items();
        }
      }
    }
    
    #main-firest-top-contents {
      font-family: 'arial narrow';
      background-color: rgb(238, 231, 231);
      margin-top: 0px;

      &-contents-new_arrival {
        @include link_new_arrival_right-left();
      }

      .main-firest-top-photos {
        @include photos();

        &-items {
          display: flex;
          justify-content: space-between;


          &-new {
            margin-left: 10px;
            font-family: 'arial narrow';
            font-size: x-large;
          }

          .main-firest-top-photos-items-look {
            margin-right: 10px;
            font-size: normal;
            font-weight: 600;
            a {
              color: rgb(0, 154, 214);
              text-decoration: none;
            }
          }
        }

        &-parent {
          @include ul();

          &_list {
            @include li_top();

            &-body {
              @include li_body();

              &-image {
                @include li_image();
                position: relative;
                
                .image-fot {
                  height: 200px;
                  width: 200px;
                }


                .main-firest-top-photos-parent_list-body-image-sold {
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width: 100px 100px 0 0;
                  border-color: red transparent transparent transparent;
                  position: relative;
                  z-index: 1;
                  position: absolute;
                  bottom: 100px;

                  .main-firest-top-photos-parent_list-body-image-sold_text {
                    transform: rotate(-45deg);
                    position: absolute;
                    bottom: 55px;
                    left: 5px;
                    font-weight: bold;
                    color: white;
                    font-size: x-large;
                  }
                }

                &-price {
                  @include li_price();
                }
              }
              &-title {
                @include li_title();


                &-a {
                  @include li_title_a();

                  .transparent {
                    @include transparent();
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}