// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.body {
  .body-credit-update {
    height: 620px;
    width: 700px;
    background-color: green;

    .credit-update__label {
    }
  }
}