.buy-exhibition_footer
  .buy-exhibition_footer-flame
    .buy-exhibition_footer-flame-body
      .buy-exhibition_footer-flame-body_text
        .buy-exhibition_footer-flame-body_text-privacy
          = link_to "プライバシーポリシー", "#", class: "privacy_link"
        .buy-exhibition_footer-flame-body_text-terms
          = link_to "Fmarket利用規約", "#", class: "terms_link"
        .buy-exhibition_footer-flame-body_text-specific
          = link_to "特定商取引に関する表記", "#", class: "specific_link"
      .buy-exhibition_footer-flame-body_logo
        .buy-exhibition_footer-flame-body_logo_content
          = link_to image_tag("logo_gray.svg", class: "icon_logo_fmarket"), root_path
        .buy-exhibition_footer-flame-body_logo_text
          © Fmarket, Inc.