@mixin progress-bar() {
  background-color: #eeecec;
  display: flex;
  align-items: center;
  padding: 0 70px;

  .buy-exhibition_header-body {
    margin-left: 190px;
  }

  .progress-bar {
    width: calc(100vw - 460px);
    text-align: center;
  }

  li {
    text-align: center;
    margin: 0 10px 0 0;
    padding-bottom: 20px;
    position: relative;
    display: inline-block;
    min-width: 60px;
    font-size: 12px;
    color: #888;

    .progress-bar__status__circle {
      position: absolute;
      left: 40%;
      width: 12px;
      height: 12px;
      margin: 8px auto 0;
      background: #ccc;
      border-radius: 50%;
      z-index: 1;
    }

    .progress-bar__status__line {
      position: absolute;
      left: 50%;
      top: 31px;
      bottom: 5px;
      display: block;
      width: 121%;
      height: 2px;
      background: #ccc;
    }
  }

  li.complete {
    color: #888;
    .progress-bar__status__circle{
      background: red;
    }
    .progress-bar__status__line {
      background: red;
    } 
  }

  li.is-active{
    color: red;
    font-weight: bold;
    .progress-bar__status__circle {
      background: red;
    }
  }
}

@mixin required-signup() {
  background-color: red;
  line-height: 15px;
  font-size: 10px;
  width: 30px;
  color: white;
  padding: 0 5px;
  position: absolute;
  top: 1px;
  right: 350px;
}